// Copyright (C) 2020-2021 Red Hat, Inc.
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License along
// with this program; if not, write to the Free Software Foundation, Inc.,
// 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

package {{ .Handlername }}

import (
	"time"
)

const (
	testTimeoutDuration = time.Second * 2
)


//TODO:
func {{ .Handlername }}_Args{
	//fill the stub
}

func Test{{ .Handlername }}_getIdentifier{
	// fill the stub
}

func Test{{ .Handlername }}_ReelFirst{
	// fill the stub
}

func Test{{ .Handlername }}_ReelEof{
	// fill the stub
}

func Test{{ .Handlername }}_Timeout{
	// fill the stub
}

func Test{{ .Handlername }}_ReelMatch{
	// fill the stub
}

func TestNew{{ .Handlername }}{
	// fill the stub
}