// Copyright (C) 2020-2021 Red Hat, Inc.
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License along
// with this program; if not, write to the Free Software Foundation, Inc.,
// 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

package {{ .Shandlername }}

import (
	"testing"
)

const (
	// adding special variable
)

// {{ .Handlername }}_Args()
func Test{{ .Handlername }}_Args(t *testing.T){
	// Todo : write test for function {{ .Handlername }}_Args()
}

// {{ .Handlername }}_GetIdentifier
func Test{{ .Handlername }}_GetIdentifier(t *testing.T){
	// Todo : write test for function {{ .Handlername }}_GetIdentifier
}

// {{ .Handlername }}_ReelFirst
func Test{{ .Handlername }}_ReelFirst(t *testing.T){
	// Todo : write test for function {{ .Handlername }}_ReelFirst
}

// {{ .Handlername }}_ReelEof
func Test{{ .Handlername }}_ReelEof(t *testing.T){
	// Todo : write test for function {{ .Handlername }}_ReelEof
}

// {{ .Handlername }}_ReelTimeout
func Test{{ .Handlername }}_ReelTimeout(t *testing.T){
	// Todo : write test for function {{ .Handlername }}_ReelTimeout
}

// {{ .Handlername }}_ReelMatch
func Test{{ .Handlername }}_ReelMatch(t *testing.T){
	// Todo : write test for function {{ .Handlername }}_ReelMatch
}

// New{{ .Handlername }}
func TestNew{{ .Handlername }}(t *testing.T){
	// Todo : write test for function TestNew{{ .Handlername }}
}