// Copyright (C) 2020-2022 Red Hat, Inc.
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License along
// with this program; if not, write to the Free Software Foundation, Inc.,
// 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

package {{ .LowerHandlername }}

import (
	"testing"
)

const (
// adding special variable
)

// Test_New{{ .UpperHandlername }} is the unit test for New{{ .UpperHandlername }}().
func Test_New{{ .UpperHandlername }}(t *testing.T) {
	// Todo: Write test.
}

// Test_{{ .UpperHandlername }}_Args is the unit test for {{ .UpperHandlername }}_Args().
func Test{{ .UpperHandlername }}_Args(t *testing.T) {
	// Todo: Write test.
}

// Test_{{ .UpperHandlername }}_GetIdentifier is the unit test for {{ .UpperHandlername }}_GetIdentifier().
func Test{{ .UpperHandlername }}_GetIdentifier(t *testing.T) {
	// Todo: Write test.
}

// Test_{{ .UpperHandlername }}_ReelFirst is the unit test for {{ .UpperHandlername }}_ReelFirst().
func Test{{ .UpperHandlername }}_ReelFirst(t *testing.T) {
	// Todo: Write test.
}

// Test_{{ .UpperHandlername }}_ReelEOF is the unit test for {{ .UpperHandlername }}_ReelEOF().
func Test{{ .UpperHandlername }}_ReelEOF(t *testing.T) {
	// Todo: Write test.
}

// Test_{{ .UpperHandlername }}_ReelTimeout is the unit test for {{ .UpperHandlername }}}_ReelTimeout().
func Test{{ .UpperHandlername }}_ReelTimeout(t *testing.T) {
	// Todo: Write test.
}

// Test_{{ .UpperHandlername }}_ReelMatch is the unit test for {{ .UpperHandlername }}_ReelMatch().
func Test{{ .UpperHandlername }}_ReelMatch(t *testing.T) {
	// Todo: Write test.
}
