name: Test Incoming Changes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Rebuild mocks
        run: go get github.com/golang/mock/mockgen && make mocks

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.32

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Rebuild mocks
        run: go get github.com/golang/mock/mockgen && make mocks

      - name: Run Tests
        run: make test
